 <widget id="A6064716135915"  version="0.0.1">
    <name>Hello APP</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="statusBarAppearance" value="true" />
	<feature name="ajpush">
		<param name="channel" value="developer-apicloud" />
		<param name="app_key" value="d4e5671cc923c682f38cc8fe" />
	</feature>

</widget>
